@font-face {
    font-family: 'Raleway Regular';
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC Regular';
    src: url(../fonts/playfair_display_SC/PlayfairDisplaySC-Regular.ttf);
}

@font-face {
    font-family: 'PlayfairDisplaySC Bold';
    src: url(../fonts/playfair_display_SC/PlayfairDisplaySC-Bold.ttf);
}
