@import 'fonts';


// Colors
$mainColor:          #89898B;
$navLinkColor:       #F6F6F6;
$navHoverColor:      #FF0E0E;
$btnColor:           #D8D8D9;
$sectionBackground:  #1D1C21;
$somthingMoreColor:  #F6F6F6;

// // Size
$navLinkSize:          15px;
$somthingMoreSize:     15px;

// // Fonts
$ralewayRegular:                 'Raleway Regular', sans-serif;
$playfairDisplaySCRegular:       'PlayfairDisplaySC Regular', sans-serif;
$playfairDisplaySCBold:          'PlayfairDisplaySC Bold', sans-serif;


